<%- include('header') -%>
<DIV class ="box" id = "heading">
    <h1><%= title%></h1>
</DIV>

<div class="box">
    <% for(var i=0; i<items.length; i++){ %>
        <div class="item">
            
            <input type="checkbox" >  
            <p>
                <%= items[i]%>
            </p>
           </div>
       <% } %>
      
       <form action="/" method="post">
           <input type="text" name="newItem" placeholder="newItem" autocomplete="off" >
           <button type="submit" name="list" value=<%= title%>>+</button>    
        </form>
        
   </div>

        <%- include('footer') -%>