<%- include('header') -%>
<DIV class ="box" id = "heading">
    <h1><%= title%></h1>
</DIV>

<div class="box">
    <% for(var i=0; i<items.length; i++){ %>
        <form action="/delete" method="post">
        <div class="item">
                
                <input type="checkbox" name="checkbox" value="<%=items[i]._id%>" onchange="this.form.submit()" >  
                <p>
                    <%= items[i].name%>
                </p>
               </div>

            </form>
       <% } %>
      
       <form action="/" method="post">
           <input type="text" name="newItem" placeholder="newItem" autocomplete="off" >
           <button type="submit" name="list" value=<%= title%>>+</button>    
        </form>
        
   </div>

        <%- include('footer') -%>